* {
    box-sizing: border-box;
}

/* body {
    margin: 0;
    overflow-x: hidden;
    background-color: rgb(240, 240, 240);
} */

.header {
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: rgb(78, 77, 77) 0px 25px 20px -20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transition:all 0.3s ease;
    border: 3px solid rgb(13, 252, 228);
}
.header:hover{
    box-shadow: 0 4px 8px rgb(0, 85, 254);
}

.header .logo {
    display: flex;
    align-items: center;
}

.header .logo img {
    height: 50px;
    margin-right: 20px; 
    cursor: pointer;
}

.info {
    display: flex;
    align-items: center;
    gap: 30px;
    flex: 1;
    justify-content: center;
    height: 45px;
    margin-left: 150px;
    margin-right: 150px;
}
.search{
    font-size: 28px;
    font-weight: normal;
    transition: all 0.3s ease;
    color: rgb(1, 217, 255);
}
.search:hover{
    font-size: 35px;
    font-weight: bold;
    
}

.services{
    font-size: 28px;
    font-weight: normal;
    transition: all 0.3s ease;
    color: rgb(1, 217, 255);
}
.services:hover{
    font-size: 35px;
    font-weight: bold;
    
}

.project {
    font-size: 28px;
    font-weight: normal;
    transition: all 0.3s ease;
    color: rgb(1, 217, 255);
}

.project:hover {
    font-size: 35px;
    font-weight: bold;
    
}
.aboutus{
    font-size: 28px;
    font-weight: normal;
    transition: all 0.3s ease;
    color: rgb(1, 217, 255);
}
.aboutus:hover{
    font-size: 35px;
    font-weight: bold;
    
}
.contact{
    font-size: 28px;
    font-weight: normal;
    transition: all 0.3s ease;
    color: rgb(1, 196, 255);
}
.contact:hover{
    font-size: 35px;
    font-weight: bold;
    
}

.info div {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.info div p {
    font-size: 20px;
    margin-left: 5px;
}

.dugmad {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.dugmad a {
    text-decoration: none;
}

.dugmad button {
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid rgb(1, 199, 253);
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    transition: background-color 0.3s ease;

}

.dugmad button:hover {
    background-color: rgb(1, 199, 253);
    color: white;
}

.app {
    width: 100vw;
    /* padding-top: 72px;  */
}

.hotels {
    margin: auto;
    width: 85%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.active-link{
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.classic-link{
    text-decoration: none;
    color: aquamarine;
    font-size: 20px;
}