.team-card {
  background-color: aliceblue;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 3fr;
  align-content: center;
  justify-content: center;
  border-radius: 15px;
  margin-top: 100px;
  transition: height 0.3s;
  align-items: center;
  padding: 10px;
}

.h2 {
  color: black;
  align-self: center;
}

.p {
  color: black;
  align-self: center;
}

.text {
  grid-column: span 6;
}

.delete-btn {
  cursor: "pointer";
  background-color: rgb(250, 145, 8);
}
.p button{
  border: 1px solid black;
}