body{
  background-color: rgb(157, 153, 153);
  
}
#root {
  max-width: 1280px;
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
}
/* .header{
  width: 100%;
  margin: 0px;
} */

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.app {
  width: 100vw;
}

.hotels {
  margin: auto;
  width: 85%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Dodaj auto-fit za bolje prilagođavanje */
  gap: 20px;
}
.header{
  margin-bottom:100px ;
}
main{
  margin-top: 20px;
}