* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  overflow-x: hidden;
  background-color: rgb(10, 10, 10);
}

#root {
  max-width: 1280px;
  text-align: left;
}

.app {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.main {
  width: 100vw;
  min-height: 57vh;
  margin-bottom: 20px;
}

footer {
  width: 100vw;
  height: 18vh;
}
