.hotel-kartica {
    background-color: #f2f2f2;
    width: 320px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(129, 126, 126, 0.337); /* Dodaj senku za 3D efekat */
    overflow: hidden;
    text-align: left;
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transform: perspective(1000px) rotateX(0deg); /* Dodaj perspektivu i rotaciju */
    transition: transform 0.5s ease;
}

.hotel-kartica:hover {
    transform: perspective(1000px) rotateX(5deg); /* Rotiraj na hover */
}

.hotel-kartica .photo img {
    width: 100%;
    height: 215px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transform: translateZ(0); /* Potrebno za WebKit renderovanje */
}

.hotel-info {
    padding: 15px;
}

.ocena {
    font-size: 16px;
    margin-bottom: 8px;
}

.hotel-ime {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
}

.lokacija {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}

.cena {
    font-size: 24px;
    color: #ff6600;
    font-weight: bold;
    margin-bottom: 8px;
}

.stara-cena {
    font-size: 14px;
    color: #999;
    text-decoration: line-through;
    margin-left: 10px;
}

.total-cena {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}

.card-price {
    width: 100%;
    background-color: #007bff;
    color: #fff;
    padding: 12px;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    transition: background-color 0.3s ease;
}

.card-price:hover {
    background-color: #0056b3;
}
